<div class="welcome-container">
    <MudIcon Icon="Icons.Material.Filled.Chat" Size="Size.Large" Color="Color.Primary" Class="welcome-icon"/>
    <MudText Typo="Typo.h4" Class="welcome-text"> Start a new conversation</MudText>
    <MudText Typo="Typo.body1" Color="Color.Secondary"> Ask me anything, and I'll help you!</MudText>
</div>

@code {


}