@page "/LogoutRemote"
@layout AuthLayout
@inject IJSRuntime JSRuntime

<form action="Account/Logout" method="post">
    <AntiforgeryToken />
    <input type="hidden" name="ReturnUrl" value="~/chat" />
    <button type="submit" class="nav-link" id="logoutButton">
        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
    </button>
</form>

@code {

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(100); // Delay to ensure the form is rendered before JS interaction;
        // click the button to trigger the logout
        await JSRuntime.InvokeVoidAsync("clickLogoutButton");
    }
}
