@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using T3.Clone.Client.Services
@inject NavigationManager Navigation
@inject AppsettingsService AppsettingsService

<button class="sign-in-btn" @onclick="Login">
    <span class="icon">👤</span>
    <span>Sign In</span>
</button>

@code{

    public void Login()
    {
        Navigation.NavigateTo(AppsettingsService.ServerUrl + "/Account/Login", true);
    }
    
    public void BeginLogOut()
    {
        Navigation.NavigateTo(AppsettingsService.ServerUrl + "/Account/Logout", true);
    }
}
