@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using T3.Clone.Client.Services
@inject NavigationManager Navigation
@inject AppsettingsService AppsettingsService

<a @onclick="Login">Log in</a>

@code{

    public void Login()
    {
        Navigation.NavigateTo(AppsettingsService.ServerUrl + "/Account/Login", true);
    }
    
    public void BeginLogOut()
    {
        Navigation.NavigateTo(AppsettingsService.ServerUrl + "/Account/Logout", true);
    }
}
