::deep .drawer-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-region{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: calc(100% - 18px);
    height: 64px;

    background-color: color-mix(in srgb, var(--mud-palette-primary) 10%, transparent);
    color: var(--mud-palette-text-primary);


    border: 3px solid color-mix(in srgb, var(--mud-palette-primary) 80%, transparent);
    margin: 9px;
    border-radius: 12px;
}

.sidebar-header{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.login-section{
    bottom: 0;
    padding: 9px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.history-region{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding: 9px;
}